<% layout("layouts/boilerplate") %>

<div class="col-6 offset-3 mt-3">
  <h3>Give your valuable feedback</h3>
</div>

<div class="col-6 offset-3 mt-4 mb-3">
  <form method="post" action="/feedback" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Write your feedback:</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="feedbackText"
        required
      ></textarea>
      <div class="invalid-feedback">Please give your feedback.</div>
    </div>


<fieldset class="starability-slot mb-5">
  <legend>Rating</legend>
  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="rating" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="rating" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="rating" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="rating" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="rating" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
  <div class="invalid-feedback">Please give a rating.</div>
</fieldset>

      


    


    <button class="btn btn-primary" type="submit">Send Feedback</button>
  </form>
</div>

<script src="/js/star-rating.js"></script>
