*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F6FFFE;
}


/*Navbar*/
.navbar{
    background-color: #B4DCE7 !important;
}
.navLogo{
    height:3rem;
    margin-left:2rem;
}

.nav-link{
    margin-right:1.5rem;
}

.nav-link:hover{
    text-decoration: 1px solid underline;
}

.userLogo{
     height:2rem;
     border-radius: 50%;
    
}


/*footer*/
.f-info{
    background-color: #B4DCE7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.f-info div{
    margin-bottom: 0.5rem;
}
.f-info a{
    text-decoration: none;
}
.f-info-socials i{
    font-size: 1.7rem;
    color: #000;
    margin: 0 1rem 0 1rem;
    opacity: 0.7;
    transition: all 0.2s ease-in;
}

.f-info-socials i:hover{
    opacity: 1;
    font-size: 1.6rem;
}



.f-info-links a{
    color: #212529;
}

/* Footer Responsive*/
@media(max-width:450px){
    .f-developers {
        display: flex;
        flex-direction: column;
    }
}

/*Main*/
.wlcmHead{
    font-weight: 700;
}

.welcome{
  /* display: flex;
  flex-direction: column; */
  /* align-items: center;   */
  text-align: center;
  margin:1.5rem 0 3rem 0;  
  line-height: 1.8rem;
  font-size: 1.5rem;
  
}


/*semesters block*/
.semesters-div{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 75%;
}

.semester{
    height:100px;
    width:245px;
    padding: 2rem 3rem 1rem 4rem;
    background-color: #D7E8E6;
    border-radius: 30px;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 5px 0px black;
    transition: all 0.5s linear;
    
}

.semester:hover{
    box-shadow: 2px 4px 6px 2px black;
}

.sem{
    text-decoration: none;
    color: #213555;
    font-weight: 700;
    font-size: 1.4rem;
}

/*Student contribution page*/
.quesBox{
    box-shadow: 0.2rem 0.60rem 0.2rem 0.1rem  #B4DCE7;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}
.quesBox:hover{
     box-shadow: 0.3rem 0.75rem 0.3rem 0.2rem  #B4DCE7;
     transform: scale(1.02,1.02);
}

.stdTitle{
    text-align: center;
}

.edit-btns{
    display: flex;
    justify-content: space-evenly;
}

/*Task*/
.task-header{
    display: flex;
    justify-content: space-between;
}

.task-btns{
    display: flex;
    justify-content:end;
}
.task-btns a,button{
 margin-right: 1rem;
}

/*paper page */


.paper:hover {
    background-color: #eef3f5;  
}