<% layout("/layouts/boilerplate")-%>


<div class="homeContainer">
    <div class="welcome">
        <p>Welcome To Regal College Shringartali</p>
        <p class="wlcmHead">BCA Department</p>
        <span id="element"></span>
    </div>

    <div class="semesters-div">
        <a href="#" class="sem"><div class="semester">semester 1</div></a>
        <a href="#" class="sem"><div class="semester">semester 2</div></a>
        <a href="#" class="sem"><div class="semester">semester 3</div></a>
        <a href="#" class="sem"><div class="semester">semester 4</div></a>
        <a href="#" class="sem"><div class="semester">semester 5</div></a>
        <a href="#" class="sem"><div class="semester">semester 6</div></a>
    </div>
</div>
