<% layout("/layouts/boilerplate")-%>


<div class="homeContainer">
    <div class="welcome">
        <p>Welcome To Regal College Shringartali</p>
        <p class="wlcmHead">BCA Department</p>
        <span id="element"></span>
    </div>

    <div class="semesters-div">
        <a href="/semesters/1" class="sem"><div class="semester">semester 1</div></a>
        <a href="/semesters/2" class="sem"><div class="semester">semester 2</div></a>
        <a href="/semesters/3" class="sem"><div class="semester">semester 3</div></a>
        <a href="/semesters/4" class="sem"><div class="semester">semester 4</div></a>
        <a href="/semesters/5" class="sem"><div class="semester">semester 5</div></a>
        <a href="/semesters/6" class="sem"><div class="semester">semester 6</div></a>
    </div>
</div>
