<% layout("/layouts/boilerplate")-%>


<div class="container">
<div class="col-6 offset-3 mt-5">
  <h2 class="heading text-center">Upload Question Paper</h2>
</div>

<div class="col-6 offset-3 mt-4 mb-5">
  <form
    action="/questionPaper/upload-paper"
    method="POST"
    enctype="multipart/form-data" class="needs-validation" novalidate>

    <input type="hidden" name="semester" value="<%= semester %>" />
  
    <div class="mb-4">
      <label for="subject" class="form-label">Subject</label>
      <select name="subject" class="form-control" required>
  <option value="" disabled selected>Select Subject</option>
  <% Subjects.forEach(subject => { %>
    <option value="<%= subject.name %>"><%= subject.name %></option>
  <% }) %>
</select>
      <div class="invalid-feedback">Please select subject</div>
    </div>
    

    <div class="mb-4">
      <label for="file" class="form-label">Upload File (PDF/Image)</label>
      <input type="file" name="file" id="file" accept=".pdf,image/*" class="form-control" required />
      <div class="invalid-feedback">Please upload the file</div>
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>
</div>